/// <reference path = "../abstracts/__abstracts.scss">
#footer {
    background-color: #4b494f;
    padding-top: 50px;
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
    font-size: 2rem
}

#footer .ftr-link-title a {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    outline: none;
    cursor: default;
    text-decoration: none;
    pointer: none;
    font-family: 'Montserrat',sans-serif
}

#footer .ftr-link-title a:hover {
    color: #FFF
}

#footer .ftr-widget {
    margin-bottom: 30px
}

#footer a {
    color: #FFF;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-transform: inherit;
    text-decoration: none;
}

#footer a:hover {
    color: #adb7c4
}

#footer address {
    color: #adb7c4;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px
}

#footer address br {
    display: block
}

#footer address a {
    color: #adb7c4
}

#footer .language {
    border-top: 1px solid #625f68;
    padding-top: 30px
}

#footer .social-network li i {
    font-size: 22px;
    vertical-align: middle
}

#footer .social-network li {
    display: inline-block;
    margin: 0 5px
}

#footer .social-network li:first-child {
    color: #FFF;
    font-size: 12px;
    margin: 0
}

#footer .sub-footer {
    padding: 15px 0 5px 0;
    border: 1px solid #ddd;
    background-color: #FFF
}

#footer .sub-footer .powered-by img {
    vertical-align: middle;
    margin-left: 5px
}

#footer .sub-footer p {
    font-size: 12px
}

#footer h5 i {
    display: none
}

#footer .ftr-widget>ul {
    padding: 0
}

#footer ul li {
    line-height: 22px;
    list-style: none
}

#footer h5.ftr-link-title {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Montserrat',sans-serif;}

@media only screen and (min-width: 767px) {
    #footer .ul-toggle {
        display:block!important
    }
}

@media only screen and (max-width: 767px) {
    #footer .sub-footer p {
        text-align:center
    }

    #footer h5 i {
        float: right
    }

    #footer .ftr-widget>ul {
        padding-left: 20px
    }

    #footer .ftr-widget ul {
        display: none
    }

    #footer .ftr-widget ul.social-network {
        display: block;
        padding-left: 0
    }

    #footer .ftr-widget ul.social-network li:first-child {
        display: block;
        font-weight: 600;
        margin-bottom: 5px
    }

    #footer address {
        margin-bottom: 20px
    }

    #footer .ftr-widget {
        margin-bottom: 0
    }

    #footer .language {
        border: none;
        padding-top: 0
    }

    #footer .mob-hide {
        display: none
    }

    #footer h5 i {
        display: block
    }

    #footer .no-brdr-mob-xs {
        border: none
    }

    #footer .pb-15-mob-xs {
        padding-bottom: 15px!important
    }

    #footer h5 {
        border-top: 1px solid #625f68
    }

    #footer .ftr-link-title a {
        padding: 15px 0;
        cursor: pointer;
        margin-bottom: 0
    }

    #footer {
        padding-top: 15px
    }

    #footer .ftr-widget ul {
        padding-bottom: 15px
    }

    #footer .ftr-widget ul li {
        margin-bottom: 5px
    }

    #footer .language .language-list {
        padding-bottom: 0
    }

    #footer .mob-hide .ftr-widget ul {
        display: block
    }

    #footer .ftr-link-title a {
        display: block;
        outline: none
    }

    #footer .ftr-link-title a:focus,.ftr-link-title a:hover {
        color: #fff
    }
}
