/// <reference path = "../abstracts/__abstracts.scss">
/*------------- css for selection tab---------*/
.selection-tab {
    .btn-default {
        border-color: $button-tabs-default;
        text-decoration:none;
        text-transform:none;
        &.active,&:active {
            background-color: $button-tabs-default;
            font-weight: $font-weight-semi-bold;
            color: $white;
        }
    }
}


/*------------- Horizontal Divider---------*/

.horizontal-divider,.vertical-divider{
    position:relative;
}
.horizontal-divider::after{
    border-bottom: 1px solid $border-color-primary;
    height: 1px;
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
}
.vertical-divider::after{
    border-right: 1px solid $border-color-primary;
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
}


/*------------- Interview difficulties---------*/

.interview_level{
    position:relative;
    overflow:hidden;
    padding:20px 35px;
    direction:rtl;
    display:inline-block;
}
.interview_level:before{
    content:"Easy";
    position:absolute;
    left:0px;
}
.interview_level:after{
    content: "Hard";
    position: absolute;
    right: 0px;
    top: 21px;
}
.interview_level-lg:before,.interview_level-lg:after{
    top:35px;
}

.interview_level li{
    width:50px;
    height:12px;
    margin:5px;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    position:relative;

}
.interview_level-lg li{
    height:40px;
    width: 40px;
}

.interview_level li:before{
    content: ' ';
    background: rgba(255,255,255,0.8);
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
}

.interview_level li:hover:before,.interview_level li:hover ~ li:before{
    background: rgba(255,255,255,0);
}
.interview_level li.active:before,.interview_level li.active ~ li:before{
    width:0px;
}
.interview_level li span{
    display:none;
    position: absolute;
    top: -22px;
    left: 16px;
    font-weight: $font-weight-bold;
}

.interview_level li:hover span , .interview_level li.active span{
    display:block;
}

.bg-darkgreen {
    background-color: $interview-leve1-color;
}
.bg-green {
    background-color: $interview-leve2-color;
}
.bg-yellow {
    background-color: $interview-leve3-color;
}
.bg-orange {
    background-color: $interview-leve4-color;
}
.bg-red {
    background-color: $interview-leve5-color;
}


/*------------- Label Pills---------*/

.label{
    font-size: 12px;
    font-weight: $font-weight-normal;
    line-height: 24px;
    padding: 5px 20px;
    border-radius:0px; 
}
.label-success{
    color:$label-color1;
    background-color: rgba($label-color1, 0.15) ;
    border:1px solid $label-color1; 
}
.label-warning{
    color:$label-color2;
    border:1px solid $label-color2;
    background:rgba($label-color2, 0.15); 
}
.label-info{
    color:$label-color3;
    border:1px solid $label-color3;
    background:rgba($label-color3, 0.15);
}
.label-error{
    color:$label-color4;
    border:1px solid $label-color4;
    background:rgba($label-color4, 0.15);
}

/*------------- List Tab---------*/

.nav.list-tab{
    border-bottom: 1px solid $border-color-secondary;
}
.nav.list-tab li
{
    margin:0px 15px;
}
.nav.list-tab li:nth-child(1){
    margin-left:0px;
}
.nav.list-tab li:nth-last-child(1){
    margin-right:0px;
}
.nav.list-tab li .number{
    color: $green01;
    font-weight: $font-weight-bold;
}
.nav.list-tab>li.active>a, .nav.list-tab>li.active>a:focus, .nav.list-tab>li.active>a:hover{
    color: $text-default-color;
}
.nav.list-tab li a:hover{
    background-color:$transparent;
}
.nav.list-tab li.active a:before{
    width:100%;
    position:absolute;
    height:9px;
    content:'';
    background:$link-color;
    bottom:0px;
    left:0px;
}
.nav.list-tab li a{
    text-decoration:none;
    color: $text-default-color;
    line-height: 31px;
    padding:10px 5px; 
}
.nav.list-tab li.active a{
    font-weight: $font-weight-semi-bold ;
    background-color: $transparent;

}

/*----------Pagination-----------------*/

.pagination>li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}
.pagination>li>a
{
    padding: 9px 7px;
    margin-left: 0;
    color: $text-default-color;
    font-weight: $font-weight-semi-bold;
    border: none;
    background-color: $transparent;
}
.pagination>li.active>a 
{
    background-color: transparent;
    border-bottom: 4px solid $link-color;
    color: $text-default-color;
}
.pagination>li.prev a, .pagination>li.next a
{
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid $border-color-secondary ;
    background-color: #fff;
    color: $text-default-color;
    margin: 0 6px;
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    min-width: 77px;
    text-align:center;
}
.pagination>.active>a:focus, .pagination>.active>a:hover{
    background:$transparent;
    border-color:none;
    color: #3b3b3b;
}

/*------------ToolTip--------------*/

.tooltip-container{
    text-decoration:none;
    padding:10px;
}
.tooltip-container:link,.tooltip-container:hover,.tooltip-container:active{
    text-decoration:none;
}
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    opacity:0;
    filter:alpha(opacity=0);
    font-size: 12px;
    font-weight: $font-weight-normal;
    line-height: 20px;

}
.tooltip.in{
    opacity:1;
    filter:alpha(opacity=100)
}
.tooltip-inner{ 
    padding:15px;
    text-align:center;
    background: $tool-tip-background; 
    border: 1px solid $tool-tip-border;
    color: $tool-tip-color;
}

.tooltip.right .tooltip-arrow{
    transform: rotate(225deg); 
    width:13px;
    height:13px;
    background:#fffef9;
    border-color:transparent;
    border-top: 1px solid #cba668;
    border-right: 1px solid #cba668;
    border-bottom: 0 none;
    border-left: 0 none;
    left: -1px;

}

.tooltip.left .tooltip-arrow{
    transform: rotate(45deg);
    width:13px;
    height:13px;
    background:#fffef9;
    border-color:transparent;
    border-top: 1px solid #cba668;
    border-right: 1px solid #cba668;
    border-bottom: 0 none;
    border-left: 0 none;
    right: -1px;
}

.tooltip.top .tooltip-arrow{
    transform: rotate(135deg);
    width:13px;
    height:13px;
    background:#fffef9;
    border-color:transparent;
    border-top: 1px solid #cba668;
    border-right: 1px solid #cba668;
    border-bottom: 0 none;
    border-left: 0 none;
    bottom: -1px;
}

.tooltip.bottom .tooltip-arrow{
    transform: rotate(-45deg);
    width:13px;
    height:13px;
    background:#fffef9;
    border-color:transparent;
    border-top: 1px solid #cba668;
    border-right: 1px solid #cba668;
    border-bottom: 0 none;
    border-left: 0 none;
    top: -1px;
}

/*-------------Text Tuner content ----------- */

.text-tuner-box{
    width:354px;
    border: 1px solid #ddd;
    background-color: $blue08;
    font-family: $font-family-default;
    position: relative;
    cursor: pointer;
    display:table;
}
.text-tuner-box:hover
{
    background-color: #2981BC;
}
.text-tuner-box.remove{
    background-color: $gray03;
}
.text-tuner-box.remove:hover{
    background-color: $gray04;
}
.text-tuner-box .tuner-head{ 
    font-family: $font-family-default;
    font-weight: $font-weight-bold;
    color: $white;
    min-width: 20px;
    display: table-cell;
    font-size: 12px;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: -6px;
    text-transform: uppercase;
}
.text-tuner-box.remove .tuner-head{
    left:-17px;
    color: #d2d2d2;
}

.tuner-head:before{
    content: '+ Add';
}
.text-tuner-box.remove .tuner-head:before{
    content: '- Remove';
}
.text-tuner-box .content-section{
    border-left: 1px solid $grey08 ;
    padding: 12px 15px;
    background: $white;
    height: 60px;
    min-height: 60px;
    display: table-cell;
    vertical-align: middle;
    width: 94%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color:$grey08;
    font-size:$font-size-sm;
}
.text-tuner-box .content-section a{
    font-weight: 600; 
}


/*-----------Toggle----------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red01;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch.disabled{
    pointer-events:none;
}
.switch.disabled .slider{
    background-color: #dddddd;
}
.switch.disabled .slider:after{
    content: "Off";
    color: #dddddd;
    right:-30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:after{
    position: absolute;
    content: "Inactive";
    right: -61px;
    top: 6px;
    color: $red01;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
input:checked + .slider:after{
    position: absolute;
    content: "Active";
    right: -50px;
    top: 6px;
    color:$green01;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
input:checked + .slider {
    background-color: $green01;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before { 
    border-radius: 50%;
}
/*---------Loader---------*/
.loader{text-align:center;}




/*-----------BreadCrumb-------*/

.breadCrumb{
    padding:11px 15px;
    li{
        display:inline-block;
        position:relative;
        padding:0px 12px 0px 4px;
        &:after {
            content:"\f105";
            position:absolute;
            right:0px;
            top:6px;
            font:normal normal normal 10px/1 FontAwesome;
        }
        a {
            text-decoration:none;
            color: $grey09;
            font-size: 10px;
            font-weight: $font-weight-normal;
            &:hover{
                color: $grey09;
            }
        }
        &.active{
            a{
                color: $yellow02;
                font-weight: $font-weight-bold;
            }
        }
    }
}
.breadcrumb-primary{
    background:#4a494f;
    li{
        a{
            color: $white;
            font-size:$font-size-default;
            &:hover{
                color: $white
            }
        }
        &:after {
            color:$white;
            font-size:$font-size-default;
            top:3px;
        }
    }

}
.breadcrumb-secondry{
    background:#eee;
    li{
        a{
            color: #878787;
            font-size:11px;
            &:hover{
                color: #878787;
            }
        }
        &:after {
            color:#878787;
            font-size:11px;
            top:5px;
        }
    }


}
.breadCrumb li:last-child::after{
    content:" ";
}


/*--------Side bar Filter----------- */
.accordian-list{
    border: 1px solid $grey08;
    background-color: $white;
    padding: 20px;

    .accordian-head{
        font-size: $font-size-default;
        font-weight: $font-weight-semi-bold;
        line-height: 31px;
        margin:0px;
        cursor:pointer;
        &.collapsed{
            font-weight: $font-weight-normal;
            &:after{
                content:"\f107";
            }
        }
        &:after{
            font-family:'FontAwesome';
            content:"\f106";
            float: right;
            color: inherit;
        }
    }
}


.accordian-list .checkbox,.accordian-list .radio{
    margin:0px;
}
.sidebar-filter-sublist{
    font-size: 12px;
    font-weight: $font-weight-normal;
    line-height: 28px;
}

.list-link{
    font-size: 12px;
    font-weight: $font-weight-normal;
    line-height: 24px;
    text-decoration:none;
}

/*---------BreadCrumb Progress Bar ------- */
.breadcrumb-progressBar{
    li{
        display: inline-block;
        padding-right: 30px;
        position: relative;

        &:not(:last-child):after{
            content: "";
            width: 25px;
            height: 2px;
            border-radius: 2px;
            background-color: $grey08;
            position: absolute;
            top: 50%;
            right: 0px;
        }

        &:not(:last-child):before{
            content: "";
            width: 0px;
            height: 2px;
            border-radius: 2px;
            background-color: $yellow02;
            position: absolute;
            top: 50%;
            right: 0px;
            z-index:2;
        }

        a{
            text-decoration:none;
            color: $grey08;
            font-size: 10px;
            font-weight: $font-weight-bold;
            text-transform:uppercase;
            pointer-events:none;
        }
    }
}


.breadcrumb-progressBar li.active:not(:last-child):before{
    width:12px;
    right: 12px;
}
.breadcrumb-progressBar li.visited:not(:last-child):before{
    width:25px;
    right: 0px;
}

.icon-wrapper{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 2px solid $grey08;
    background: $white;
    display: inline-block;
    vertical-align: middle;
}
.icon-wrapper i{
    display:none;
    font-size: 8px;
    vertical-align: middle;
    margin-top: -11px;
    text-align: center;
    margin-left: 2px;
}
.breadcrumb-progressBar li.active .icon-wrapper{
    border: 2px solid $yellow02;
}
.breadcrumb-progressBar li.active a{
    color: $gray02;
    pointer-events:initial;
}
.breadcrumb-progressBar li.active .icon-wrapper i{
    display:inline-block;
    color:$yellow02;
}
.breadcrumb-progressBar li.visited .icon-wrapper{
    border: 2px solid $yellow02;
    background:$yellow02;
}
.breadcrumb-progressBar li.visited a{
    color: $gray02;
    pointer-events:initial;
}
.breadcrumb-progressBar li.visited .icon-wrapper i{
    display:inline-block;
    color:$white;
}