/// <reference path = "../abstracts/__abstracts.scss">

/*==Typography css==*/

// Placeholder for default style
%default-style{
    color:$text-default-color;font-size:$font-size-default;font-family:$font-family-default; 
}


/*Heading css*/
.font-primary{font-family:$font-family-primary}
.font-default{font-family:$font-family-default}


h1,.h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{font-family: $heading-font-family; color:$text-default-color;font-weight:$font-weight-normal;line-height:$line-height-base;margin-top: 10px;margin-bottom:10px}
h1,.h1{font-size:$font-size-h1}
h2,.h2{font-size:$font-size-h2}
h3,.h3{font-size:$font-size-h3}
h4,.h4{font-size:$font-size-h4}
h5,.h5{font-size:$font-size-h5}

/*Font weight css*/
.font-bold{font-weight:$font-weight-bold}
.font-semibold{font-weight:$font-weight-semi-bold}
.font-medium{font-weight:$font-weight-medium}
.font-regular{font-weight:$font-weight-normal}
.font-light{font-weight:$font-weight-light}	

/*Paragraph styles css*/
.text-lg{font-size:$font-size-lg}
.text-md{font-size:$font-size-md}
.text-sm{font-size:$font-size-sm}
.text-xs{font-size:$font-size-xs}

/**** Validation Text******/
.error-text{color: $color-error}
.success-text{color: $color-success}


/*Blockquote css*/
.blockquote-primary{
    padding:13px;margin:0 0 15px;font-size:22px;color: #4a4a4a;border: 0;
    p{display: inline-block;vertical-align: top;width: 94%;}
    &:before{font-size: 50px;display: inline-block;line-height: 1;}
    &:before{content: open-quote}
    .ic-quote:after{font-size: 50px;padding: 0 0 5px 3px;display: inline-block;vertical-align: bottom; content: close-quote;vertical-align: bottom;line-height: 0}
}
.blockquote-secondary{
    padding:0 10px 0 23px;
    margin:0 0 15px;
    font-size:$font-size-lg;
    font-family: $font-family-primary;
    font-weight: $font-weight-semi-bold;
    line-height: 28px;
    position:relative;
    color: $yellow02;
    border-left: 2px solid $yellow02;
}




/*Bullet List*/
.bullet-list{
    li{padding-left:20px;text-indent:-5px;margin-bottom:15px;
       &:before{
           content:' ';
           border-radius: 50%;
           height:5px;
           width:5px;
           background-color:$yellow01;
           float:left;
           margin: 11px 20px 0 -20px;
       }
    }
    &.variant-1{
        li:before{background-color: $green01}
    }
    &.variant-2{
        li:before{background-color: $blue}
    }
    &.variant-3{
        li:before{background-color: $green02}
    }
}

/*Number List*/
.number-list li{
    counter-increment:step-counter;
    margin-bottom:10px;
    padding-left:22px;
    position:relative;
    &:before{
        content:counter(step-counter);
        margin-right:15px;
        position: absolute;
        left: 0;
        top: 3px;
        text-align: center;
        color:$white;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        font-size: 10px;
        font-weight: $font-weight-bold;
        background-color: $yellow02;
    }
}

